/* Coach-Team */
.coach-team {
    display: flex;
    text-align: center;
    overflow: visible;
}

hr .border-line {
    border: none;
    height: 1px;  
    background-color: var(--black-color); 
    margin-right: 35px;
    margin-left: 35px;
  }

.coach h2.active,
.team h2.active {
    font-weight: bold;
    color: var(--very-dark-blue);
}

.coach div,
.team div {
    margin: 0 10px 10px;
}

.coach1, .coach2, .coach3,
.team1, .team2, .team3 {
    background-color: var(--section-color);
    padding: 10px;
    border-radius: 5px;
    max-width: 1300px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Max Width 600px */
@media only screen and (max-width: 600px) {
    .coach-team {
        flex-direction: column;
    }
    .border-line {
        display: block;
    }
}

